<div class="modal fade" id="pamper-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title show-modal" id="exampleModalLabel">Pamper Me</h4>
        <button type="button" class="close close-button close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

          <div class="show-container">
            <div class="image-holder">
              <div class="image-holder-pamper">
              <%= image_tag("Pamper1.jpeg") %>
              <%= image_tag("Pamper2.png")%>
              <%= image_tag("Pamper3.jpeg") %>
              <%= image_tag("Pamper4.jpeg") %>
              <%= image_tag("Pamper5.jpeg") %>
              </div>
            </div>
            <div class="information">
              <p class="very-small-text-bold">What we did</p>
              <p class="very-small-text">Designed and developed a web app that connects beauty professionals with customers looking for services.</p>
              <p class="very-small-text-bold">How we did it</p>
              <ul id="how">
                <li class="very-small-text">Refined the product idea with a clear need, target customer and product pitch.</li>
                <li class="very-small-text">Created the user journey, user stories and the required features.</li>
                <li class="very-small-text">Prepared a Figma design of the website to agree on colours, imaginery etc </li>
                <li class="very-small-text">Developed the website in one week following design sprints and agile methodology</li>
              </ul>
              <p class="very-small-text-bold">Visit the website at:</p>
              <p class="very-small-text">https://pamper-me.herokuapp.com</p>
            </div>
          </div>

      </div>

    </div>
  </div>
</div>

