
<div class="dashboardbanner"></div>
<!-- <hr class="red"> -->
<div class="container-text">
  <h1 class="main-subtitle">Invent@ is a digital design and development studio</h1>
  <br>
  <p class="main-text">We are a small team of strategists, designers and developers passionate about helping entrepreneurs originate, build and grow start-ups and small businesses.</p>
</div>

<div class="about" >
    <a class="anchor" id="services"></a>
    <br>
    <h2 class="secondary-subtitle centered" > Our services</h2>
    <br>
</div>

<div class="about" >
    <div class="band-container">
      <%= image_tag("idea.png", class: "bandicon btn-idea")%>
      <div class="idea-content speech-bubble speech-bubble:after ">
        <h1 class="main-text-red-bold"> Need help shaping your business idea?</h1>
        <p class="small-text"> We use design thinking techniques and input from the market and competitors, as well as user feedback to help you define your idea more clearly into a product or service proposition that really meets an unfulfilled need for your target customer. At this stagge we produce a "ligh business plan" to support an initial go/no go decision.</p>
      </div>
    </div>

   <div class="band-container">
    <%= image_tag("business_plan.png", class: "bandicon btn-bus") %>
      <div class="bus-content speech-bubble speech-bubble:after ">
        <h1 class="main-text-red-bold"> Need a robust business plan or pitch deck?</h1>
        <p class="small-text"> We know funding is all for nascent businesses. We have experience drafting business plans and pitch presentations to support funding rounds. We can also provide independent reviews of your existing documents prior to an important presentation. </p>

      </div>
    </div>

    <div class="band-container">
      <%= image_tag("product_design.png", class: "bandicon btn-des") %>
      <div class="des-content speech-bubble speech-bubble:after ">
        <h1 class="main-text-red-bold"> Want to design a digital product or service?</h1>
        <p class="small-text"> UX and UI experience design for both web and mobile application products. We use design thinking techniques, and great tools such as Figma or Sketch to help you turn your business idea into a design that can be tested with target users.</p>

      </div>
    </div>

    <div class="band-container">
      <%= image_tag("prototype.png", class: "bandicon btn-pro") %>
      <div class="pro-content speech-bubble speech-bubble:after ">
        <h1 class="main-text-red-bold"> Looking to build a fast prototype?</h1>
        <p class="small-text"> Nothing better than a prototype to make your proposition tangible. We create MVPs (minimum viable products) to really proof your concept. We can do prototypes on paper, Figma/Sketch, or even a fast one week fully developed website/app in Rails. Present your product/service to investors with a basic fully functionning app/website! It makes a difference. </p>

      </div>
    </div>

    <div class="band-container">
      <%= image_tag("growth.png", class: "bandicon btn-gro") %>
      <div class="gro-content speech-bubble speech-bubble:after">
        <h1 class="main-text-red-bold"> Thinking about growing your business?</h1>
        <p class="small-text"> As you scale your business you are bound to find other types of problems. Are your processes and systems scalable? Do you have the right people to support the growth of your venture? Do you need help researching new markets or geographies to plan a roll out? We can help you with the strategic thinking as well as with getting things done. </p>

      </div>
    </div>
</div>

<div class="about" >
    <a class="anchor" id="recent-work"></a>
    <h1 class="secondary-subtitle centered mb-5"> Recent work </h1>
    <div class="recent-work">

        <div class="card-work">
          <%= link_to image_tag("Arthub.jpg", class: "card-photo"), "#", { :class => "button-secondary button-contact", 'data-toggle' => 'modal', 'data-target' => '#arthub-modal'} %>
          <div class="card-work-infos">
            <div>
              <h2>ArtHub</h2>
              <p>Web design, Web development, Creative Direction</p>
            </div>
          </div>
        </div>

        <div class="card-work">
          <%= link_to image_tag("PamperMe.jpg", class: "card-photo"), "#", { :class => "button-secondary button-contact", 'data-toggle' => 'modal', 'data-target' => '#pamper-modal'} %>
          <div class="card-work-infos">
            <div>
              <h2>Pamper Me</h2>
              <p>App design, App development, Prototyping</p>
            </div>
          </div>
        </div>

        <div class="card-work">
          <%= link_to image_tag("Alicia-art.png", class: "card-photo"), "#", { :class => "button-secondary button-contact", 'data-toggle' => 'modal', 'data-target' => '#aliciaart-modal'} %>
          <div class="card-work-infos">
            <div>
              <h2>Alicia Art</h2>
              <p>Web design, Web development, E-commerce</p>
            </div>
          </div>
        </div>


        <div class="card-work">
          <%= image_tag("Fitfashion.png", class: "card-photo") %>
          <div class="card-work-infos">
            <div>
              <h2>Fit Fashion</h2>
              <p>Web design, Web development, Branding, E-commerce</p>
            </div>
          </div>
        </div>

        <div class="card-work">
          <%= image_tag("Inventa.jpg", class: "card-photo") %>
          <div class="card-work-infos">
            <div>
              <h2>Invent@</h2>
              <p>Web design, Web development, Creative Direction</p>
            </div>
          </div>
        </div>

        <div class="card-work">
          <%= image_tag("Arthub.jpg", class: "card-photo") %>
          <div class="card-work-infos">
            <div>
              <h2>MyPet</h2>
              <p>Web design, Web development, E-commerce</p>
            </div>
          </div>
        </div>

     </div>
  </div>


  <div class=" wrapper"  >
    <div class="contact">
      <a class="anchor" id="contact"></a>
      <br>
      <p class="main-text-white-bold">Whether you have an exciting new venture, an idea you want to prototype, an existing product that needs a refresh, or you just want to bounce some ideas around, we'd love to hear from you! </p>
      <br>
      <br>
    <!--   <div id="button-contact"> -->
      <%= link_to ('<p class="main-text-white-bold">Get in touch!<p><p class="small-text-white"> for a free consultation</p>').html_safe, new_contact_path, { :class => "button-secondary button-contact", 'data-toggle' => 'modal', 'data-target' => '#contact-modal'} %>
<!--       </div> -->
    </div>
  </div>


  <div class="about" >
    <a class="anchor" id="team"></a>
    <br>
    <h2 class="secondary-subtitle centered" > Our team </h2>
    <br>
    <br>
    <p class="main-text">We are a group of strategist, designers and developers that are passionate about helping entrepreneurs test, prototype and launch their ideas. </p>
    <p class="main-text">We combine experience in Strategy Consulting, User Experience Design, User Interface Design, Rapid Prototyping, Web Development and App Development to help you design, launch or grow your business.</p>


    <div class="founder">
      <%= image_tag("Alicia.png", class: "avatar-lg") %>
      <p class="main-text"> <span class="main-text-bold"> Alicia Ngomo - Strategist and full stack developer (Founder).</span> Founded Invent@ to help smaller businesses. I use my 14 years of experience in strategy, digital and design to help new founders better develop their ideas into compelling propositions with a basis on tangible prototypes. Apart from my consulting experience I am trained a full-stack developer as well as experience design thinker. </p>
    </div>

    <div class="founder">
      <%= image_tag("john.jpeg", class: "avatar-lg") %>
      <p class="main-text"> <span class="main-text-bold">John Hart - Full stack developer (Collaborator). </span>I completed Le Wagon full-stack development bootcamp and have since participated in several projects involving the launch of a digital product or service. I build prototypes and final products using Ruby on Rails, HTML, CSS, Javascript and React as the main languages.</p>
    </div>

    <div class="founder">
      <%= image_tag("lisa.jpeg", class: "avatar-lg") %>
      <p class="main-text"> <span class="main-text-bold">Lisa Callum - Designer (Collaborator). </span>I am passionate about all things design! I have experience both in graphic design and video, and I bring that onto my design projects to help clients obtain really engaging digital experiences.</p>
    </div>
</div>

<%= render "contacts/new" %>
<%= render "pages/arthub" %>
<%= render "pages/aliciaart" %>
<%= render "pages/pamper" %>

<!-- <script>
$(".btn-idea").on('click', function(){
  $('.des-content').hide();
  $('.pro-content').hide();
  $('.gro-content').hide();
  $('.bus-content').hide();
  $('.idea-content').show();
});

$(".btn-des").on('click', function(){
  $('.idea-content').hide();
  $('.pro-content').hide();
  $('.gro-content').hide();
  $('.bus-content').hide();
  $('.des-content').show();
});

$(".btn-pro").on('click', function(){
  $('.idea-content').hide();
  $('.des-content').hide();
  $('.gro-content').hide();
  $('.bus-content').hide();
  $('.pro-content').show();
});

$(".btn-gro").on('click', function(){
  $('.idea-content').hide();
  $('.des-content').hide();
  $('.pro-content').hide();
  $('.bus-content').hide();
  $('.gro-content').show();
});

$(".btn-bus").on('click', function(){
  $('.idea-content').hide();
  $('.des-content').hide();
  $('.pro-content').hide();
  $('.gro-content').hide();
  $('.bus-content').show();
});
</script> -->

