
<div class="dashboardbanner"></div>
<hr class="red">
<div class="container-text">
  <h1 class="main-subtitle">Invent@ is a digital design and development studio</h1>
  <br>
  <p class="main-text">We are a small team of strategists, designers and developers passionate about helping entrepreneurs originate, build and grow start-ups and small businesses.</p>
</div>
<!--
<div class="about questions">
    <ul id="questions">
      <li class="main-text">Need help shaping your business idea?</li>
      <li class="main-text">Looking for a robust business case?</li>
       <li class="main-text">Want a strong pitch for investors?</li>
      <li class="main-text">Want to design a digital product or service?</li>
      <li class="main-text">Need a fast prototype of your product or service?</li>
      <li class="main-text" >Looking to grow your business?</li>
    </ul>
</div> -->

<div class="about" >
    <a class="anchor" id="services"></a>
    <br>
    <h2 class="secondary-subtitle centered" > Our services</h2>
    <p class="small-text centered">(Click on each service for a description)</p>
    <br>
</div>

    <!-- <hr class="divider"> -->
<div class="band-container">
  <%= image_tag("idea.png", class: "bandicon btn-idea")%>
  <%= image_tag("business_plan.png", class: "bandicon btn-bus") %>
  <%= image_tag("product_design.png", class: "bandicon btn-des") %>
  <%= image_tag("prototype.png", class: "bandicon btn-pro") %>
  <%= image_tag("growth.png", class: "bandicon btn-gro") %>
</div>
<!-- <hr class="divider"> -->
    <br>
    <br>

<div class="about" >
      <div class="idea-content speech-bubble speech-bubble:after d-none">
        <h1 class="main-text-red-bold"> Need help shaping your business idea?</h1>
        <p class="small-text"> We use design thinking techniques and input from the market and competitors, as well as input from users to help you define your idea more clearly, develop a product or service proposition that better meets the unfulfilled need and produce a "ligh business plan" to perform an initial go/no go decision.</p>
        <br>
      </div>

      <div class="bus-content speech-bubble speech-bubble:after d-none">
        <h1 class="main-text-red-bold"> Looking for a robust business plan or pitch deck?</h1>
        <p class="small-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus a corporis porro quod voluptates explicabo aliquam numquam eos quam maxime nihil odio, vitae, cupiditate sequi repellendus accusamus quibusdam. Suscipit modi vitae nemo! Ratione quis, recusandae molestias autem officia corporis nobis quaerat nesciunt aperiam nemo, error sapiente. Animi, quas, saepe. Repellendus..</p>
        <br>
      </div>

      <div class="des-content speech-bubble speech-bubble:after d-none">
        <h1 class="main-text-red-bold"> Want to design a digital product or service?</h1>
        <p class="small-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus a corporis porro quod voluptates explicabo aliquam numquam eos quam maxime nihil odio, vitae, cupiditate sequi repellendus accusamus quibusdam. Suscipit modi vitae nemo! Ratione quis, recusandae molestias autem officia corporis nobis quaerat nesciunt aperiam nemo, error sapiente. Animi, quas, saepe. Repellendus..</p>
        <br>
      </div>

      <div class="pro-content speech-bubble speech-bubble:after d-none">
        <h1 class="main-text-red-bold"> Looking to build a fast prototype?</h1>
        <p class="small-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus a corporis porro quod voluptates explicabo aliquam numquam eos quam maxime nihil odio, vitae, cupiditate sequi repellendus accusamus quibusdam. Suscipit modi vitae nemo! Ratione quis, recusandae molestias autem officia corporis nobis quaerat nesciunt aperiam nemo, error sapiente. Animi, quas, saepe. Repellendus.</p>
        <br>
      </div>

      <div class="gro-content speech-bubble speech-bubble:after d-none">
        <h1 class="main-text-red-bold"> Thinking about growing your business?</h1>
        <p class="small-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus a corporis porro quod voluptates explicabo aliquam numquam eos quam maxime nihil odio, vitae, cupiditate sequi repellendus accusamus quibusdam. Suscipit modi vitae nemo! Ratione quis, recusandae molestias autem officia corporis nobis quaerat nesciunt aperiam nemo, error sapiente. Animi, quas, saepe. Repellendus.</p>
        <br>
      </div>
</div>

<div class="about" >
    <a class="anchor" id="recent-work"></a>
    <h1 class="secondary-subtitle centered mb-5"> Recent work </h1>
    <div class="recent-work">

        <div class="card-work">
          <%= image_tag("Arthub.jpg") %>
          <div class="card-work-infos">
            <div>
              <h2>ArtHub</h2>
              <p>Web design, Web development, Creative Direction</p>
            </div>
          </div>
        </div>

        <div class="card-work">
          <%= image_tag("PamperMe.jpg") %>
          <div class="card-work-infos">
            <div>
              <h2>Pamper Me</h2>
              <p>App design, App development, Prototyping</p>
            </div>
          </div>
        </div>

        <div class="card-work">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-work-infos">
            <div>
              <h2>Alicia Art</h2>
              <p>Web design, Web development, Creative Direction</p>
            </div>
          </div>
        </div>


        <div class="card-work">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-work-infos">
            <div>
              <h2>Fit Fashion</h2>
              <p>Web design, Web development, Branding, Creative Direction</p>
            </div>
          </div>
        </div>

        <div class="card-work">
          <%= image_tag("Arthub.jpg") %>
          <div class="card-work-infos">
            <div>
              <h2>Inventa</h2>
              <p>Web design, Web development, Creative Direction</p>
            </div>
          </div>
        </div>

        <div class="card-work">
          <%= image_tag("Arthub.jpg") %>
          <div class="card-work-infos">
            <div>
              <h2>PetCentral</h2>
              <p>Web design, Web development, Creative Direction</p>
            </div>
          </div>
        </div>

     </div>
  </div>



  <div class="contact wrapper"  >
    <a class="anchor" id="contact"></a>
    <br>
    <p class="main-text-white-bold">Whether you have an exciting new venture, an idea you want to prototype, an existing product that needs a refresh, or you just want to bounce some ideas around, we'd love to hear from you! </p>
    <br>
    <br>
    <div id="button-contact">
    <%= link_to 'Get in touch!', new_contact_path, { :class => "button-secondary button-contact nav-link", 'data-toggle' => 'modal', 'data-target' => '#contact-modal'} %>
    </div>
  </div>


  <div class="about" >
    <a class="anchor" id="team"></a>
    <br>
    <h2 class="secondary-subtitle centered" > Our team </h2>
    <br>
    <br>
    <p class="main-text">We are a group of strategist, designers and developers that are passionate about helping entrepreneurs test, prototype and launch their ideas. </p>
    <p class="main-text">We combine experience in Strategy Consulting, User Experience Design, User Interface Design, Rapid Prototyping, Web Development and App Development to help you design, launch or grow your business.</p>



    <div class="founder">
    <%= image_tag("Alicia.png", class: "avatar-lg") %>
    <p class="main-text"> <span class="main-text-bold">Alicia Ngomo - Strategist and full stack developer. </span>After many years working in digital strategy for big corporate clients I decided to get more involved in the actual design and delivery of digital products and services, and help smaller businesses with strategy. Besides ample experience in strategy cosulting, I am trained in design thinking methodologies, full-stack development.</p>
    </div>

    <div class="founder">
    <%= image_tag("john.jpeg", class: "avatar-lg") %>
    <p class="main-text"> <span class="main-text-bold">John Hart - Full stack developer. </span>I completed Le Wagon full-stack development bootcamp and have since participated in several projects involving the launch of a digital product or service. I build prototypes and final products using Ruby on Rails, HTML, CSS, Javascript and React as the main languages.</p>
    </div>

    <div class="founder">
    <%= image_tag("lisa.jpeg", class: "avatar-lg") %>
    <p class="main-text"> <span class="main-text-bold">Lisa Callum - Designer. </span>I am passionate about all things design! I have experience both in graphic design and video, and I bring that onto my design projects to help clients obtain really engaging digital experiences.</p>
    </div>
</div>

<%= render "contacts/new" %>


